@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 353px;
    margin: 8px;
    padding:0px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 15px;
    line-height: 20px;
    font-weight: lighter;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

button.pika-prev,
button.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0px solid #333;
    border-radius:0px;
    padding: 0 0 0 0;
    margin:0px;
    width: 30px;
    height: 30px;
    text-align:center;
    font-size:12px;
    font-weight:lighter;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    color:red;
    *position: absolute;
    *top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
}

button.pika-prev{background-image:url('images/lastMonth.png');}
button.pika-next{background-image:url('images/nextMonth.png');}








.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
   /* width: 14.285714285714286%;*/
    width: 15.5%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: normal;
    text-align: right;
}
.pika-table tbody tr {
    width:100%;
}

button.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0px solid #333;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 35px;
    padding: 5px 5px 5px 5px !important;
    text-align:center;
    color: #666;
    font-size: 12px;
    font-weight:normal;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

















.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;
    border-radius: 3px !important;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}

