/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Open Sans";
  src: url('/fonts/fonts/opensans.woff') format('woff'), url('/fonts/fonts/opensans.ttf') format('truetype'), url('/fonts/fonts/opensans.svg') format('svg');
}
@font-face {
  font-family: "Trebuchet MS";
  src: url('/fonts/fonts/trebuchet.ttf') format('truetype'), url('/fonts/fonts/trebuchet.otf') format('opentype');
}
@font-face {
  font-family: "Calibri";
  src: url('/fonts/fonts/calibri.ttf') format('truetype'), url('/fonts/fonts/calibri.otf') format('opentype');
}
/* line 20, ../sass/screen.scss */
body {
  font-family: "Open Sans", "Trebuchet MS", "Calibri", sans-serif;
}

/* line 22, ../sass/screen.scss */
a:link {
  text-decoration: none;
}

/* line 23, ../sass/screen.scss */
*:focus {
  outline: none;
}

/* line 26, ../sass/screen.scss */
h1 {
  font-size: 22px;
  color: #222;
  font-weight: 200;
  padding: 20px 0 20px 0;
}

/* line 33, ../sass/screen.scss */
h2 {
  font-size: 18px;
  color: #111;
  font-weight: 200;
  margin-top: 20px;
}

/* line 40, ../sass/screen.scss */
h3 {
  font-size: 16px;
  color: #000;
  font-weight: 200;
  margin: 15px;
}

/* line 47, ../sass/screen.scss */
h4 {
  font-size: 12px;
  color: #222;
  font-weight: 600;
  margin: -15px 0px;
}

/* line 51, ../sass/screen.scss */
p {
  font-size: 14px;
  color: #333;
  font-weight: 200;
}

/* line 58, ../sass/screen.scss */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  background: #eee;
}

/* line 76, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 97, ../sass/screen.scss */
a.clientresult {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 90%;
  height: 50px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

/* line 98, ../sass/screen.scss */
a.clientresult:first-of-type {
  border-top: 1px solid #fff;
}

/* line 100, ../sass/screen.scss */
div.clientresult {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 90%;
  height: 50px;
}

/* line 101, ../sass/screen.scss */
div.clientresult:focus {
  background: #fff;
}

/* line 103, ../sass/screen.scss */
.resultblocks {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  width: 25%;
  height: 50px;
  float: left;
  text-align: left;
  font-size: 14px;
}

/* line 117, ../sass/screen.scss */
.resultblocks.title {
  border-left: none;
  border-right: none;
}

/* line 118, ../sass/screen.scss */
.resultblocks.title p {
  font-size: 14px;
  color: #fff;
}

/* line 122, ../sass/screen.scss */
.resulttext {
  display: table-cell;
  height: 50px;
  padding: 0 20px;
  vertical-align: middle;
  color: #555;
}

/*clientSearchView:*/
/* line 128, ../sass/screen.scss */
#feedback {
  color: red;
}

/* line 132, ../sass/screen.scss */
.client {
  text-transform: uppercase;
}

/*from ResultsView.coffee put here to clean code:*/
/* line 137, ../sass/screen.scss */
table.results th.header, table.results td {
  font-size: 150%;
}

/*from ScanBarcodeView:*/
/* line 142, ../sass/screen.scss */
#feedback {
  color: red;
}

/* line 146, ../sass/screen.scss */
.client {
  text-transform: uppercase;
}

/*from ReportView:*/
/* line 150, ../sass/screen.scss */
.dissaggregatedResults {
  display: none;
}

/*from help:*/
/* line 155, ../sass/screen.scss */
.helpMessage {
  display: block;
}

/* line 158, ../sass/screen.scss */
textarea:focus, input:focus {
  outline: none;
  -webkit-tap-highlight-color: red;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only;
}

/* line 165, ../sass/screen.scss */
textarea {
  height: 100px;
  font-size: 18px;
  color: #999;
  font-weight: 200;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 480px;
  resize: none;
}

/*images on design form page that are icons:*/
/* line 171, ../sass/screen.scss */
#design-view {
  display: block;
}

/*.ui-btn-inner.ui-btn-corner-all{background:red;}

label[type=checkbox]{background:red;}*/
/* line 182, ../sass/screen.scss */
.formHeader {
  display: block;
  width: 100%;
  background: #ccc;
  padding: 10px 0;
  border-top: 1px solid #999;
}

/*buttons for yes/no*/
/* line 184, ../sass/screen.scss */
label {
  display: block;
  clear: both;
  width: 80%;
  max-width: 500px;
  text-align: left;
  margin: 20px auto 18px auto;
  color: #999;
}

/*questions specifically above the radio buttons:*/
/* line 189, ../sass/screen.scss */
label[type=radio] {
  margin-top: 60px;
}

/*just thinking through tablet/phone sizes and readability, not sure if this css works*/
/*yes/no and optional choice selector buttons:*/
/* line 191, ../sass/screen.scss */
label.radio {
  border-radius: 8px;
  display: block;
  padding: 15px 0px;
  border: 1px solid #999;
  cursor: pointer;
  text-decoration: none;
  margin: 10px auto 5px auto;
  text-align: center;
}

/* line 201, ../sass/screen.scss */
input {
  margin-bottom: 50px;
  border: solid 1px #999;
  color: #999;
  transition: box-shadow 0.3s, border 0.3s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px;
  width: 80%;
  max-width: 500px;
  font-size: 18px;
}

/* line 215, ../sass/screen.scss */
input:focus {
  outline: none;
  border: solid 2px #999;
  border: 2px solid #0097cf;
}

/*this just hides the little radio circle on the button/labels:*/
/* line 221, ../sass/screen.scss */
input[type=radio] {
  visibility: hidden;
  display: none;
}

/*selected state color change:*/
/* line 226, ../sass/screen.scss */
input[type=radio]:checked + label.radio {
  background: black;
  color: #ddd;
  /*background: #5393c5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#5393c5),to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5,#6facd5);
  background-image: -moz-linear-gradient(#5393c5,#6facd5);
  background-image: -ms-linear-gradient(#5393c5,#6facd5);
  background-image: -o-linear-gradient(#5393c5,#6facd5);
  background-image: linear-gradient(#5393c5,#6facd5);*/
}

/* line 239, ../sass/screen.scss */
input[type="autocomplete from list"], input[type="autocomplete from previous entries"], input[type="text"] {
  text-align: left;
}

/* line 242, ../sass/screen.scss */
input[type="autocomplete from list"] {
  margin-bottom: 0px;
}

/* line 244, ../sass/screen.scss */
input[type="text"]:focus, input[type="text"].focus, input[type="autocomplete from list"]:focus, input[type="autocomplete from list"].focus,
input[type="autocomplete from previous entries"]:focus, input[type="autocomplete from previous entries"].focus {
  /*border: solid 2px rgba(200,0,150,.9); box-shadow: 0 0 0px 0px #969696;*/
}

/* line 249, ../sass/screen.scss */
input[type=number] {
  width: 250px;
  font-size: 20px;
  text-align: center;
}

/*come back to this: how are numbers selected on tablet?*/
/* line 253, ../sass/screen.scss */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 25px;
  height: 50px;
  text-align: center;
  position: relative;
  text-align: center;
  /*removing the up and down for now */
  -webkit-appearance: none;
  margin: 0;
}

/* line 269, ../sass/screen.scss */
input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
  background: #eee;
  background-image: url(../images/uparrow.png);
  background-size: 100%;
  border: solid 1px #999;
  content: "";
  position: absolute;
  right: -11px;
  width: 24px;
  /*removing the up and down for now */
  -webkit-appearance: none;
  margin: 0;
}

/* line 288, ../sass/screen.scss */
input[type=number]::-webkit-inner-spin-button:before {
  top: 2px;
  height: 21px;
}

/* line 292, ../sass/screen.scss */
input[type=number]::-webkit-inner-spin-button:after {
  bottom: 3px;
  height: 22px;
  right: -11px;
  -webkit-transform: rotate(180deg);
}

/* line 299, ../sass/screen.scss */
input[type=textarea] {
  height: 100px;
}

/*BUTTONS:*/
/* line 302, ../sass/screen.scss */
input[type=submit], label[type=checkbox], input[type=button], button, button[type=button], a.buttonLinks {
  display: block;
  width: 200px;
  height: 15px;
  background: none;
  color: #999;
  cursor: pointer;
  border: 1px solid #999;
  margin: 40px auto;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 200 !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 323, ../sass/screen.scss */
button, button[type=button] {
  padding-bottom: 35px;
  padding-top: 20px;
  font-weight: 200 !important;
}

/* line 324, ../sass/screen.scss */
input[type=submit] {
  padding-bottom: 35px;
  font-weight: 200 !important;
}

/* line 328, ../sass/screen.scss */
input[type=submit]:focus, label[type=checkbox]:focus, input[type=button]:focus, button:focus, a.buttonLinks:focus {
  background: #fff;
  color: #ccc;
  border: 1px solid #fff;
  outline: 0;
}

/* line 335, ../sass/screen.scss */
input[type=submit]:hover, label[type=checkbox]:hover, input[type=button]:hover, button:hover, a.buttonLinks:hover {
  background: #fff;
  color: #ccc;
  border: 1px solid #ccc;
}

/* line 342, ../sass/screen.scss */
a.buttonLinks.sideBySideButtons {
  display: inline-block;
  float: left;
}

/*AUTOCOMPLETE LISTS: Make these less ridiculous, they should have real class names*/
/* line 362, ../sass/screen.scss */
ul.ui-listview {
  background: #ccc;
  list-style: none;
  width: 80%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 0px;
}

/* line 364, ../sass/screen.scss */
li.ui-btn {
  border: 1px solid #999;
}

/*li.ui-btn .ui-btn-inner.ui-btn-inner.ui-li.ui-corner-top {color:red;}*/
/*li.ui-btn>div>div a{color:red;}*/
/*.ui-btn-text a{
  display:block; color: $button_text_color;
  padding:15px 0 15px 0; margin:0px auto 0 auto; width:$autocomplete_width; }
  span.ui-icon{display:none;}*/
/* line 375, ../sass/screen.scss */
.message {
  padding: 10px;
  border: 1px yellow dotted;
  background: yellow;
  display: none;
}

/*for example the message that says Saving . .  . over the form after an answer is submitted*/
/* line 386, ../sass/screen.scss */
.hoveringMessage {
  position: fixed;
  top: 0px;
  color: white;
  background: rgba(50, 70, 200, 0.5);
  padding: 25px 0px;
  display: none;
  z-index: 10;
  width: 100%;
  margin-top: 0px;
}

/* line 392, ../sass/screen.scss */
.designControls {
  display: block;
  background: #ccc;
  width: 100%;
  height: 200px;
}

/* line 394, ../sass/screen.scss */
.aQuestion {
  display: block;
  width: 100%;
  height: auto;
  margin: 50px 0 0 0;
}

/* line 395, ../sass/screen.scss */
.questionInfo {
  display: block;
  height: 30px;
  margin: 0px auto;
  width: 700px;
  text-align: left;
  background: #ccc;
}

/* line 396, ../sass/screen.scss */
.questionType {
  display: inline-block;
  width: auto;
  font-size: 13px;
  margin: 10px 25px 0 10px;
}

/* line 397, ../sass/screen.scss */
.requiredOrNot {
  display: inline-block;
  width: 50px;
  font-size: 13px;
  color: #555;
  text-align: left;
  margin: 10px 0 0 0;
}

/* line 398, ../sass/screen.scss */
input.requiredOrNot {
  width: 20px;
  height: 5px;
  margin-top: 10px;
  vertical-align: top;
}

/* line 399, ../sass/screen.scss */
.deleting {
  display: inline-block;
  float: right;
  width: 90px;
  margin: 10px 10px 0 0;
}

/* line 400, ../sass/screen.scss */
label.deleteButton {
  font-size: 13px;
  float: left;
  display: inline;
  margin: 0px;
  width: 60px;
  height: 60px;
}

/* line 401, ../sass/screen.scss */
button.deleteButton {
  display: inline;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0px;
  padding: 0px;
  margin-top: -5px;
  font-size: 15px;
}

/* line 402, ../sass/screen.scss */
button.deleteButton img {
  height: 10px;
  width: 10px;
  margin-top: 0px;
}

/* line 403, ../sass/screen.scss */
label.questionText {
  /*display:block;*/
  margin: 0 auto;
  max-width: 700px;
}

/* line 404, ../sass/screen.scss */
input.designFormTextInput {
  width: 700px;
  max-width: 700px;
  margin-bottom: 0px;
  margin-top: 5px;
}

/* line 406, ../sass/screen.scss */
.advancedOptions {
  width: 700px;
  height: auto;
  background: #ccc;
  margin: 0 auto;
  padding: 10px 0 35px 0;
}

/* line 407, ../sass/screen.scss */
.advanced {
  font-size: 13px;
  color: #555;
}

/* line 408, ../sass/screen.scss */
.advanced-hidden {
  display: none;
}

/* line 409, ../sass/screen.scss */
.advanced-visible {
  display: block;
}

/* line 411, ../sass/screen.scss */
label.advanced {
  max-width: 600px;
  width: 600px;
  display: block;
  margin: 0px auto;
  padding: 15px 0px 5px 0px;
}

/* line 412, ../sass/screen.scss */
textarea.advanced {
  height: 20px;
  width: 600px;
  display: block;
  margin: 0 auto;
  padding: 0px;
}

/* line 417, ../sass/screen.scss */
button.designActionsButton {
  display: inline-block;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  background: #ccc;
  color: #999;
  border: 1px solid #999;
  font-size: 14px;
  margin: 10px 5px;
}

/* line 420, ../sass/screen.scss */
button.designActionsButton.addButton {
  margin-bottom: 50px;
}

/* line 422, ../sass/screen.scss */
select {
  font-size: 20px;
  padding: 30px;
  background: white;
  border: solid 1px #666;
  width: 300px;
}

/* line 424, ../sass/screen.scss */
select:focus {
  outline: none;
}

/* line 429, ../sass/screen.scss */
form#render {
  display: block;
  background: white;
  z-index: 100;
  padding: 50px 0 50px 0;
  margin: 0 auto;
  width: 800px;
}

/* line 431, ../sass/screen.scss */
.instructions {
  width: 500px;
  margin: 15px auto;
}

/* line 439, ../sass/screen.scss */
.disabled_skipped {
  display: none;
}

/* line 444, ../sass/screen.scss */
.question {
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-top: 1px dotted #999;
  padding-top: 2em;
}

/* line 451, ../sass/screen.scss */
.question:first-of-type {
  border-top: none;
  margin-top: 60px;
}

/*.question.label
{
  border-bottom: 0;
  padding-top: 1em;
  font-weight: bold;
}*/
/* line 462, ../sass/screen.scss */
.question.checkbox {
  border-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 469, ../sass/screen.scss */
.question.group {
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
  margin-top: !important;
}

/* line 480, ../sass/screen.scss */
a#startTheVisit.buttonLinks {
  margin-top: -110px;
}

/* line 507, ../sass/screen.scss */
button.menuburger {
  background-color: #ccc;
  background-image: url(../images/burger.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 100;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px 10px 0 5px;
  border: none;
}

/* line 511, ../sass/screen.scss */
button.menuburger.menuisopen {
  background-image: url(../images/burger_focus.png);
  border: none;
}

/* line 512, ../sass/screen.scss */
button.menuback {
  background-color: #ccc;
  background-image: url(../images/back.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 300;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px 10px 0 5px;
  border: none;
}

/* line 516, ../sass/screen.scss */
button.endTheVisit {
  background-color: transparent;
  background-image: url(../images/profile_gray.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  display: block;
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 300;
  width: 70px;
  height: 70px;
  padding: 0px;
  margin: 0px 10px 0 5px;
  border: none;
}

/* line 521, ../sass/screen.scss */
button.endTheVisit:focus {
  background-color: transparent;
  background-image: url(../images/profile_white.png);
}

/* line 525, ../sass/screen.scss */
.profileIconDiv {
  background-image: url(../images/profile_gray.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 55px;
  top: 5px;
  z-index: 300;
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px 10px 0 5px;
}

/* line 529, ../sass/screen.scss */
button.menuback.menuisopen {
  background-image: url(../images/back_focus.png);
  border: none;
}

/* line 530, ../sass/screen.scss */
button.menuburger:focus, button.menuburger:active, button.menuback:focus, button.menuback:active {
  border: none;
}

/* line 532, ../sass/screen.scss */
#round-button {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  color: #ccc;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 3px gray;
  font-size: 20px;
  font-weight: lighter;
  position: fixed;
  z-index: 1000;
  bottom: 15px;
  right: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 554, ../sass/screen.scss */
#round-button:hover {
  background: white;
}

/* line 564, ../sass/screen.scss */
nav {
  color: #eee;
  background: #ccc;
  width: 100%;
  height: 280px;
}

/* line 570, ../sass/screen.scss */
nav.main-nav > a, nav.main-nav > span {
  box-sizing: border-box;
  display: block;
  width: inherit;
  height: 35px;
  border-top: 1px solid #aaa;
  color: #999;
  padding: 20px 0 35px 0;
  font-size: 14px;
}

/* line 575, ../sass/screen.scss */
.menuitem.admin {
  float: left;
  text-align: center;
  border-left: 1px solid #bbb;
  width: 32%;
  width: calc(100%/ 3);
  box-sizing: border-box;
  height: 35px;
  padding: 20px 0 35px 0;
}

/* line 577, ../sass/screen.scss */
.menuitem.admin:first-child {
  border-left: none;
}

/* line 578, ../sass/screen.scss */
.menuitem.admin span {
  display: inline-block;
  text-decoration: none;
}

/* line 588, ../sass/screen.scss */
nav.main-nav.open {
  display: block;
}

/* line 589, ../sass/screen.scss */
nav.main-nav.closed {
  display: none;
}

/* line 591, ../sass/screen.scss */
.clientmenu {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2000;
  position: fixed;
  top: 0px;
  left: 0px;
}

/* line 593, ../sass/screen.scss */
.clientmenu.visible {
  display: block;
}

/* line 594, ../sass/screen.scss */
.clientmenu.hidden {
  display: none;
}

/* line 598, ../sass/screen.scss */
nav.submenu {
  display: block;
  width: 100%;
  height: 40px;
}

/* line 600, ../sass/screen.scss */
nav.submenu a {
  display: inline-block;
  height: 40px;
  width: auto;
  background-color: #ccc;
  line-height: 40px;
  font-size: 11px;
  padding: 0 10px;
}

/* line 603, ../sass/screen.scss */
nav.submenu a.selected {
  background-color: #eee;
}

/* line 605, ../sass/screen.scss */
nav.visitOptions {
  display: block;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0px;
  left: 0px;
}

/* line 606, ../sass/screen.scss */
nav.visitOptions.tiny {
  top: -30px;
  margin-top: -20px;
}

/* line 607, ../sass/screen.scss */
nav.visitOptions ul {
  display: block;
  width: 100%;
  position: absolute;
  left: 0px;
}

/* line 608, ../sass/screen.scss */
nav.visitOptions ul li {
  display: inline-block;
  height: 90px;
  width: 18%;
  background-color: #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0px;
  float: left;
  text-align: center;
  border-left: 1px solid #bbb;
  width: 18%;
  width: calc(100%/6);
  box-sizing: border-box;
}

/* line 614, ../sass/screen.scss */
nav.visitOptions ul li:first-child {
  border-left: none;
}

/* line 616, ../sass/screen.scss */
nav.visitOptions ul li.selected {
  background-color: #eee;
}

/* line 617, ../sass/screen.scss */
img.visitOptionsIcons {
  min-width: 50px;
  max-width: 70px;
  height: auto;
}

/* line 618, ../sass/screen.scss */
li.questionSetName {
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 629, ../sass/screen.scss */
.header {
  display: block;
  height: 70px;
  length: 100%;
  background: #ccc;
  /*this is new and conditional*/
  padding: 0px;
  border-top: 1px solid #999;
}

/* line 636, ../sass/screen.scss */
.aSection {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100px;
  text-align: center;
}

/* line 644, ../sass/screen.scss */
.mini-dashboard {
  display: block;
  background: #ccc;
  width: 100%;
  height: 70px;
  padding: 15px;
  z-index: 200;
}

/* line 646, ../sass/screen.scss */
.mini-dashboard.fixed {
  position: fixed;
  top: 0px;
}

/* line 653, ../sass/screen.scss */
button.fullwidthdropdown {
  width: 100%;
  height: 50px;
  border-radius: 0px;
  border: none;
}

/* line 658, ../sass/screen.scss */
form.hideText {
  font-size: 0;
  display: block;
  line-height: 0;
}

/* line 663, ../sass/screen.scss */
table {
  display: block;
  font-size: 12px;
  line-height: 30px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 669, ../sass/screen.scss */
table tr {
  border-bottom: 1px solid #ccc;
  border-top: none;
}

/* line 670, ../sass/screen.scss */
table thead {
  border-bottom: none;
}

/* line 673, ../sass/screen.scss */
table.lastVisitResults {
  width: 90%;
  font-size: 12px;
}

/* line 676, ../sass/screen.scss */
table.patientInfo {
  width: 300px;
  margin-top: 40px;
}

/* line 677, ../sass/screen.scss */
table.patientInfo tr td {
  padding: 0px 20px;
}

/* line 680, ../sass/screen.scss */
table.patientInfo thead th.noteorhint {
  color: #aaa;
  text-align: center;
  font-weight: lighter;
}

/* line 692, ../sass/screen.scss */
.regVisit-vitalsSection {
  display: block;
}

/* line 693, ../sass/screen.scss */
.regVisit-complaintSection {
  display: block;
}

/* line 694, ../sass/screen.scss */
.regVisit-labsSection {
  display: block;
}

/* line 695, ../sass/screen.scss */
.regVisit-diagnosisSection {
  display: block;
}

/* line 696, ../sass/screen.scss */
.regVisit-endVisitSection {
  display: block;
}

/* line 698, ../sass/screen.scss */
.hiddenSections {
  display: none;
}

/* loading icon */
/* loading screen */
/* line 783, ../sass/screen.scss */
input[type=checkbox].largecheckbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 787, ../sass/screen.scss */
input[type=checkbox].largecheckbox + label.checkboxLabel {
  padding-left: 45px;
  height: 28px;
  display: inline-block;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 18px;
  font-weight: lighter;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 30px;
}

/* line 802, ../sass/screen.scss */
input[type=checkbox].largecheckbox + label.checkboxLabel span {
  font-size: 11px;
}

/* line 804, ../sass/screen.scss */
input[type=checkbox].largecheckbox:checked + label.checkboxLabel {
  background-position: 0 -28px;
  font-size: 21px;
  font-weight: bold;
}

/* line 810, ../sass/screen.scss */
input[type=checkbox].largecheckbox + label.checkboxLabel input.labresultsbox, input[type=checkbox].largecheckbox + label.checkboxLabel select.labresultsbox {
  display: none;
}

/* line 813, ../sass/screen.scss */
input[type=checkbox].largecheckbox:checked + label.checkboxLabel input.labresultsbox {
  width: 200px;
  height: 40px;
  display: inline;
  margin-left: 40px;
  float: right;
}

/* line 820, ../sass/screen.scss */
input[type=checkbox].largecheckbox:checked + label.checkboxLabel select.labresultsbox {
  width: 200px;
  height: 40px;
  display: inline;
  margin-left: 40px;
  float: right;
}

/* line 827, ../sass/screen.scss */
label.checkboxLabel {
  background-image: url("../images/bigcheckboxsprite.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 840, ../sass/screen.scss */
::-webkit-input-placeholder {
  font-style: italic;
  font-size: 13px;
  font-weight: lighter;
  color: #bbb;
}

/* line 842, ../sass/screen.scss */
:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  font-size: 13px;
  font-weight: lighter;
  color: #bbb;
  opacity: 1;
}

/* line 844, ../sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  font-size: 13px;
  font-weight: lighter;
  color: #bbb;
  opacity: 1;
}

/* line 846, ../sass/screen.scss */
:-ms-input-placeholder {
  font-style: italic;
  font-size: 13px;
  font-weight: lighter;
  color: #bbb;
}

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.4.2
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2015 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/
/* @group Base */
/* line 876, ../sass/screen.scss */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 887, ../sass/screen.scss */
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 893, ../sass/screen.scss */
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  text-align: left;
}

/* line 905, ../sass/screen.scss */
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}

/* line 908, ../sass/screen.scss */
.chosen-container a {
  cursor: pointer;
}

/* line 911, ../sass/screen.scss */
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}

/* line 919, ../sass/screen.scss */
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
/* line 927, ../sass/screen.scss */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  /*  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);*/
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}

/* line 948, ../sass/screen.scss */
.chosen-container-single .chosen-default {
  color: #999;
}

/* line 951, ../sass/screen.scss */
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 958, ../sass/screen.scss */
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}

/* line 961, ../sass/screen.scss */
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

/* line 971, ../sass/screen.scss */
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}

/* line 974, ../sass/screen.scss */
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}

/* line 977, ../sass/screen.scss */
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}

/* line 985, ../sass/screen.scss */
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/chosen-sprite.png") no-repeat 0px 2px;
}

/* line 991, ../sass/screen.scss */
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

/* line 998, ../sass/screen.scss */
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url("../images/chosen-sprite.png") no-repeat 100% -20px;
  background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

/* line 1012, ../sass/screen.scss */
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

/* line 1017, ../sass/screen.scss */
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
/* line 1024, ../sass/screen.scss */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

/* line 1034, ../sass/screen.scss */
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}

/* line 1043, ../sass/screen.scss */
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

/* line 1047, ../sass/screen.scss */
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* line 1052, ../sass/screen.scss */
.chosen-container .chosen-results li.highlighted {
  background-color: #0097cf;
  /* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);*/
  border: 2px solid #0097cf;
  color: #fff;
}

/* line 1063, ../sass/screen.scss */
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}

/* line 1068, ../sass/screen.scss */
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

/* line 1073, ../sass/screen.scss */
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

/* line 1076, ../sass/screen.scss */
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
/* line 1083, ../sass/screen.scss */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  min-height: 40px;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  /*  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
   background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
   background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
   background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
   background-image: linear-gradient(#eeeeee 1%, #ffffff 15%); */
  cursor: text;
}

/* line 1101, ../sass/screen.scss */
.chosen-container-multi .chosen-choices:focus {
  border: 2px solid #0097cf;
}

/* line 1105, ../sass/screen.scss */
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

/* line 1109, ../sass/screen.scss */
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 1114, ../sass/screen.scss */
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  line-height: normal;
  border-radius: 0;
}

/* line 1127, ../sass/screen.scss */
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  /* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);*/
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  color: #333;
  line-height: 13px;
  cursor: default;
}

/* line 1149, ../sass/screen.scss */
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}

/* line 1152, ../sass/screen.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

/* line 1162, ../sass/screen.scss */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

/* line 1165, ../sass/screen.scss */
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  /*  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);*/
  color: #666;
}

/* line 1176, ../sass/screen.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #0097cf;
}

/* line 1179, ../sass/screen.scss */
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

/* line 1182, ../sass/screen.scss */
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

/* line 1186, ../sass/screen.scss */
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
/* line 1194, ../sass/screen.scss */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  border: 2px solid #0097cf;
}

/* line 1201, ../sass/screen.scss */
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  /*  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    box-shadow: 0 1px 0 #fff inset;*/
}

/* line 1214, ../sass/screen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

/* line 1218, ../sass/screen.scss */
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}

/* line 1221, ../sass/screen.scss */
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  border: 2px solid #0097cf;
}

/* line 1226, ../sass/screen.scss */
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
/* line 1232, ../sass/screen.scss */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

/* line 1236, ../sass/screen.scss */
.chosen-disabled .chosen-single {
  cursor: default;
}

/* line 1239, ../sass/screen.scss */
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
/* line 1245, ../sass/screen.scss */
.chosen-rtl {
  text-align: right;
}

/* line 1248, ../sass/screen.scss */
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

/* line 1252, ../sass/screen.scss */
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

/* line 1257, ../sass/screen.scss */
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

/* line 1260, ../sass/screen.scss */
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

/* line 1264, ../sass/screen.scss */
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

/* line 1268, ../sass/screen.scss */
.chosen-rtl .chosen-choices li {
  float: right;
}

/* line 1271, ../sass/screen.scss */
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

/* line 1274, ../sass/screen.scss */
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

/* line 1278, ../sass/screen.scss */
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

/* line 1282, ../sass/screen.scss */
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}

/* line 1286, ../sass/screen.scss */
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

/* line 1290, ../sass/screen.scss */
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

/* line 1294, ../sass/screen.scss */
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

/* line 1297, ../sass/screen.scss */
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url("../images/chosen-sprite.png") no-repeat -30px -20px;
  background: url("../images/chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}

/* line 1303, ../sass/screen.scss */
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}

/* line 1306, ../sass/screen.scss */
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 1313, ../sass/screen.scss */
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../images/chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
