/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Open Sans";
  src: url('/fonts/fonts/opensans.woff') format('woff'), url('/fonts/fonts/opensans.ttf') format('truetype'), url('/fonts/fonts/opensans.svg') format('svg');
}
@font-face {
  font-family: "Trebuchet MS";
  src: url('/fonts/fonts/trebuchet.ttf') format('truetype'), url('/fonts/fonts/trebuchet.otf') format('opentype');
}
@font-face {
  font-family: "Calibri";
  src: url('/fonts/fonts/calibri.ttf') format('truetype'), url('/fonts/fonts/calibri.otf') format('opentype');
}
/* line 20, ../sass/screen.scss */
body {
  font-family: "Open Sans", "Trebuchet MS", "Calibri", sans-serif;
}

/* line 22, ../sass/screen.scss */
a:link {
  text-decoration: none;
}

/* line 23, ../sass/screen.scss */
h1 {
  font-size: 22px;
  color: #222;
  font-weight: 200;
  padding: 20px 0 20px 0;
}

/* line 30, ../sass/screen.scss */
h2 {
  font-size: 18px;
  color: #111;
  font-weight: 200;
}

/* line 36, ../sass/screen.scss */
h3 {
  font-size: 16px;
  color: #000;
  font-weight: 200;
}

/* line 42, ../sass/screen.scss */
p {
  font-size: 14px;
  color: #333;
  font-weight: 200;
}

/* line 49, ../sass/screen.scss */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  background: #eee;
}

/* line 67, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 89, ../sass/screen.scss */
a.clientresult {
  display: block;
  margin: 0 auto;
  clear: both;
  width: 90%;
  height: 50px;
}

/* line 91, ../sass/screen.scss */
.resultblocks {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  width: 25%;
  height: 50px;
  float: left;
  border: 1px solid #999;
  text-align: left;
  background: #ccc;
  font-size: 14px;
}

/* line 104, ../sass/screen.scss */
.resultblocks.title {
  font-size: 14px;
  font-weight: bold;
  background: #aaa;
}

/* line 105, ../sass/screen.scss */
.resulttext {
  display: table-cell;
  height: 50px;
  padding: 0 20px;
  vertical-align: middle;
  color: #555;
}

/*clientSearchView:*/
/* line 111, ../sass/screen.scss */
#feedback {
  color: red;
}

/* line 115, ../sass/screen.scss */
.client {
  text-transform: uppercase;
}

/*from ResultsView.coffee put here to clean code:*/
/* line 120, ../sass/screen.scss */
table.results th.header, table.results td {
  font-size: 150%;
}

/*from ScanBarcodeView:*/
/* line 125, ../sass/screen.scss */
#feedback {
  color: red;
}

/* line 129, ../sass/screen.scss */
.client {
  text-transform: uppercase;
}

/*from ReportView:*/
/* line 133, ../sass/screen.scss */
.dissaggregatedResults {
  display: none;
}

/*from help:*/
/* line 138, ../sass/screen.scss */
.helpMessage {
  display: block;
}

/* line 141, ../sass/screen.scss */
textarea:focus, input:focus {
  outline: none;
  -webkit-tap-highlight-color: red;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only;
}

/* line 148, ../sass/screen.scss */
textarea {
  height: 100px;
  font-size: 18px;
  color: #999;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*images on design form page that are icons:*/
/* line 153, ../sass/screen.scss */
#design-view {
  display: block;
}

/*.ui-btn-inner.ui-btn-corner-all{background:red;}

label[type=checkbox]{background:red;}*/
/* line 164, ../sass/screen.scss */
.formHeader {
  display: block;
  width: 100%;
  background: #ccc;
  padding: 10px 0;
  border-top: 1px solid #999;
}

/*buttons for yes/no*/
/* line 166, ../sass/screen.scss */
label {
  display: block;
  clear: both;
  width: 80%;
  max-width: 500px;
  text-align: left;
  margin: 20px auto 0px auto;
  color: #999;
}

/*questions specifically above the radio buttons:*/
/* line 171, ../sass/screen.scss */
label[type=radio] {
  margin-top: 60px;
}

/*just thinking through tablet/phone sizes and readability, not sure if this css works*/
/*yes/no and optional choice selector buttons:*/
/* line 173, ../sass/screen.scss */
label.radio {
  border-radius: 8px;
  display: block;
  padding: 15px 0px;
  border: 1px solid #999;
  cursor: pointer;
  text-decoration: none;
  margin: 10px auto 5px auto;
  text-align: center;
}

/* line 183, ../sass/screen.scss */
input {
  margin-top: 20px;
  margin-bottom: 50px;
  border: solid 1px #999;
  color: #999;
  transition: box-shadow 0.3s, border 0.3s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px;
  width: 80%;
  max-width: 500px;
  font-size: 18px;
}

/* line 197, ../sass/screen.scss */
input:focus {
  outline: none;
  border: solid 2px #999;
}

/*this just hides the little radio circle on the button/labels:*/
/* line 202, ../sass/screen.scss */
input[type=radio] {
  display: none;
  visibility: hidden;
}

/*selected state color change:*/
/* line 206, ../sass/screen.scss */
input[type=radio]:checked + label.radio {
  background: #5393c5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5393c5), to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5, #6facd5);
  background-image: -moz-linear-gradient(#5393c5, #6facd5);
  background-image: -ms-linear-gradient(#5393c5, #6facd5);
  background-image: -o-linear-gradient(#5393c5, #6facd5);
  background-image: linear-gradient(#5393c5, #6facd5);
}

/* line 216, ../sass/screen.scss */
input[type="autocomplete from list"], input[type="autocomplete from previous entries"], input[type="text"] {
  text-align: left;
}

/* line 219, ../sass/screen.scss */
input[type="autocomplete from list"] {
  margin-bottom: 0px;
}

/* line 221, ../sass/screen.scss */
input[type="text"]:focus, input[type="text"].focus, input[type="autocomplete from list"]:focus, input[type="autocomplete from list"].focus,
input[type="autocomplete from previous entries"]:focus, input[type="autocomplete from previous entries"].focus {
  /*border: solid 2px rgba(200,0,150,.9); box-shadow: 0 0 0px 0px #969696;*/
}

/* line 226, ../sass/screen.scss */
input[type=number] {
  width: 250px;
  font-size: 20px;
  text-align: center;
}

/*come back to this: how are numbers selected on tablet?*/
/* line 230, ../sass/screen.scss */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 25px;
  height: 50px;
  text-align: center;
  position: relative;
  text-align: center;
}

/* line 242, ../sass/screen.scss */
input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
  background: #eee;
  border: solid 1px #999;
  content: "^";
  position: absolute;
  right: -10px;
  font-family: monospace;
  width: 24px;
  height: 23px;
  font-size: 32px;
  font-weight: lighter;
  color: #999;
}

/* line 255, ../sass/screen.scss */
input[type=number]::-webkit-inner-spin-button:before {
  top: 1px;
}

/* line 258, ../sass/screen.scss */
input[type=number]::-webkit-inner-spin-button:after {
  bottom: 1px;
  -webkit-transform: rotate(180deg);
}

/*BUTTONS:*/
/* line 264, ../sass/screen.scss */
input[type=submit], label[type=checkbox], input[type=button], button {
  display: block;
  width: 120px;
  height: 40px;
  background: #ccc;
  color: #eee;
  cursor: pointer;
  border: 0px solid #333;
  margin: 10px auto;
  border-radius: 8px;
}

/* line 268, ../sass/screen.scss */
input[type=submit]:focus, label[type=checkbox]:focus, input[type=button]:focus, button:focus {
  background: #aaa;
  color: #333;
  border: 1px solid #333;
}

/*AUTOCOMPLETE LISTS: Make these less ridiculous, they should have real class names*/
/* line 276, ../sass/screen.scss */
ul.ui-listview {
  background: #ccc;
  list-style: none;
  width: 80%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 0px;
}

/* line 278, ../sass/screen.scss */
li.ui-btn {
  border: 1px solid #999;
}

/*li.ui-btn .ui-btn-inner.ui-btn-inner.ui-li.ui-corner-top {color:red;}*/
/*li.ui-btn>div>div a{color:red;}*/
/* line 281, ../sass/screen.scss */
.ui-btn-text a {
  display: block;
  color: #eee;
  padding: 15px 0 15px 0;
  margin: 0px auto 0 auto;
  width: 80%;
}

/* line 284, ../sass/screen.scss */
span.ui-icon {
  display: none;
}

/* line 286, ../sass/screen.scss */
.message {
  padding: 10px;
  border: 1px yellow dotted;
  background: yellow;
  display: none;
}

/*for example the message that says Saving . .  . over the form after an answer is submitted*/
/* line 297, ../sass/screen.scss */
.hoveringMessage {
  position: fixed;
  top: 0px;
  color: white;
  background: rgba(50, 70, 200, 0.5);
  padding: 25px 0px;
  display: none;
  z-index: 10;
  width: 100%;
  margin-top: 0px;
}

/* line 303, ../sass/screen.scss */
.designControls {
  display: block;
  background: #ccc;
  width: 100%;
  height: 200px;
}

/* line 305, ../sass/screen.scss */
.aQuestion {
  display: block;
  width: 100%;
  height: auto;
  margin: 50px 0 0 0;
}

/* line 306, ../sass/screen.scss */
.questionInfo {
  display: block;
  height: 30px;
  margin: 0px auto;
  width: 700px;
  text-align: left;
  background: #ccc;
}

/* line 307, ../sass/screen.scss */
.questionType {
  display: inline-block;
  width: auto;
  font-size: 13px;
  margin: 10px 25px 0 10px;
}

/* line 308, ../sass/screen.scss */
.requiredOrNot {
  display: inline-block;
  width: 50px;
  font-size: 13px;
  color: #555;
  text-align: left;
  margin: 10px 0 0 0;
}

/* line 309, ../sass/screen.scss */
input.requiredOrNot {
  width: 20px;
  height: 5px;
  margin-top: 10px;
  vertical-align: top;
}

/* line 310, ../sass/screen.scss */
.deleting {
  display: inline-block;
  float: right;
  width: 90px;
  margin: 10px 10px 0 0;
}

/* line 311, ../sass/screen.scss */
label.deleteButton {
  font-size: 13px;
  float: left;
  display: inline;
  margin: 0px;
  width: 60px;
}

/* line 312, ../sass/screen.scss */
button.deleteButton {
  display: inline;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0px;
}

/* line 313, ../sass/screen.scss */
button.deleteButton img {
  height: 10px;
  width: 10px;
  margin-top: 0px;
}

/* line 314, ../sass/screen.scss */
label.questionText {
  /*display:block;*/
  margin: 0 auto;
  max-width: 700px;
}

/* line 315, ../sass/screen.scss */
input.designFormTextInput {
  width: 700px;
  max-width: 700px;
  margin-bottom: 0px;
  margin-top: 5px;
}

/* line 317, ../sass/screen.scss */
.advancedOptions {
  width: 700px;
  height: auto;
  background: #ccc;
  margin: 0 auto;
  padding: 10px 0 35px 0;
}

/* line 318, ../sass/screen.scss */
.advanced {
  font-size: 13px;
  color: #555;
}

/* line 319, ../sass/screen.scss */
.advanced-hidden {
  display: none;
}

/* line 320, ../sass/screen.scss */
.advanced-visible {
  display: block;
}

/* line 322, ../sass/screen.scss */
label.advanced {
  max-width: 600px;
  width: 600px;
  display: block;
  margin: 0px auto;
  padding: 15px 0px 5px 0px;
}

/* line 323, ../sass/screen.scss */
textarea.advanced {
  height: 20px;
  width: 600px;
  display: block;
  margin: 0 auto;
  padding: 0px;
}

/* line 328, ../sass/screen.scss */
button.designActionsButton {
  display: inline-block;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  background: #ccc;
  color: #eee;
  border: 0px solid #333;
  font-size: 14px;
  margin: 10px 5px;
}

/* line 331, ../sass/screen.scss */
button.designActionsButton.addButton {
  margin-bottom: 50px;
}

/*select{font-size:20px; padding:30px; background:white; border:solid 1px #666; width:300px;}
*/
/* line 335, ../sass/screen.scss */
select:focus {
  outline: none;
  font-size: 20px;
}

/* line 340, ../sass/screen.scss */
form#render {
  display: block;
  background: white;
  z-index: 100;
  padding: 50px 0 50px 0;
  margin: 0 auto;
  width: 800px;
}

/* line 342, ../sass/screen.scss */
.instructions {
  width: 500px;
  margin: 15px auto;
}

/* line 350, ../sass/screen.scss */
.disabled_skipped {
  display: none;
}

/* line 355, ../sass/screen.scss */
.question {
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-top: 1px dotted #999;
  padding-top: 2em;
}

/*.question.label
{
  border-bottom: 0;
  padding-top: 1em;
  font-weight: bold;
}*/
/* line 370, ../sass/screen.scss */
.question.checkbox {
  border-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/*.question.group
{
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}*/
/* line 414, ../sass/screen.scss */
button.menuburger {
  background-color: #ccc;
  background-image: url(../images/burger.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 100;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px 10px 0 5px;
}

/* line 420, ../sass/screen.scss */
button.menuburger:focus, button.menuburger:active {
  border: none;
}

/* line 421, ../sass/screen.scss */
button.menuburger.menuisopen {
  background-image: url(../images/burger_focus.png);
  border: none;
}

/* line 424, ../sass/screen.scss */
nav {
  color: #eee;
  background: #ccc;
  width: 100%;
  height: 335px;
}

/* line 430, ../sass/screen.scss */
nav.main-nav > a, nav.main-nav > span {
  display: block;
  width: inherit;
  height: 35px;
  border-bottom: 1px solid #aaa;
  color: #999;
  padding-top: 20px;
  font-size: 14px;
}

/* line 440, ../sass/screen.scss */
nav.main-nav.open {
  display: block;
}

/* line 441, ../sass/screen.scss */
nav.main-nav.closed {
  display: none;
}

/* line 444, ../sass/screen.scss */
.aa-header {
  display: block;
  height: 70px;
  length: 100%;
  background: #ccc;
  /*this is new and conditional*/
  padding: 0px;
  border-top: 1px solid #999;
}

/* line 457, ../sass/screen.scss */
.mini-dashboard {
  display: block;
  background: #ccc;
  width: 100%;
  height: 70px;
  padding: 15px;
  z-index: 200;
}

/* line 459, ../sass/screen.scss */
.mini-dashboard.fixed {
  position: fixed;
  top: 0px;
}

/* loading icon */
/* loading screen */
/* jQuery Mobile Framework : plugin to provide a date and time picker.
 * Copyright (c) JTSage
 * CC 3.0 Attribution.  May be relicensed without permission/notification.
 * https://github.com/jtsage/jquery-mobile-datebox
 */
/* Base input element Styles */
/* line 520, ../sass/screen.scss */
.ui-input-datebox {
  width: 97%;
  background-image: none;
  padding: .4em;
  line-height: 1.4;
  font-size: 16px;
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 521, ../sass/screen.scss */
.ui-input-datebox {
  min-height: 38px;
}

/* line 522, ../sass/screen.scss */
.ui-input-datebox .ui-btn-icon-notext {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

/* line 523, ../sass/screen.scss */
.ui-input-datebox input {
  width: 100% !important;
  padding: 0 !important;
  margin-top: 5px !important;
  margin-right: -40px !important;
  border: 1px solid transparent !important;
  vertical-align: middle;
  display: inline-block !important;
  background-color: transparent;
  zoom: 1;
  *display: inline;
}

/* line 524, ../sass/screen.scss */
.ui-input-datebox input:focus {
  outline: none;
}

/* line 525, ../sass/screen.scss */
.ui-input-datebox .ui-btn-text {
  display: none;
}

@media all and (min-width: 450px) {
  /* line 528, ../sass/screen.scss */
  .ui-input-datebox {
    width: 60%;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}
/* Calendar Mode Styles */
/* line 533, ../sass/screen.scss */
.ui-datebox-gridheader {
  text-align: center;
}

/* line 534, ../sass/screen.scss */
.ui-datebox-gridheader h4 {
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  zoom: 1;
  *display: inline;
}

/* line 535, ../sass/screen.scss */
.ui-datebox-gridplus {
  float: right;
}

/* line 536, ../sass/screen.scss */
.ui-datebox-gridminus {
  float: left;
}

/* line 537, ../sass/screen.scss */
.ui-datebox-gridplus-rtl {
  float: left;
}

/* line 538, ../sass/screen.scss */
.ui-datebox-gridminus-rtl {
  float: right;
}

/* line 539, ../sass/screen.scss */
.ui-datebox-gridrow {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 540, ../sass/screen.scss */
.ui-datebox-grid {
  clear: both;
  margin-bottom: 5px;
}

/* line 541, ../sass/screen.scss */
.ui-datebox-griddate {
  width: 70px;
  height: 58px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 24px;
  zoom: 1;
  *display: inline;
}

/* line 542, ../sass/screen.scss */
.ui-datebox-griddate {
  width: 63px;
  height: 58px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 24px;
  zoom: 1;
  *display: inline;
}

/* line 543, ../sass/screen.scss */
.ui-datebox-griddate-empty {
  border: 1px solid transparent;
  color: #888;
}

/* line 544, ../sass/screen.scss */
.ui-datebox-griddate-label {
  height: 15px !important;
  line-height: 15px !important;
  color: black;
}

/* line 545, ../sass/screen.scss */
.ui-datebox-griddate-disable {
  color: #555;
}

/* Android Mode Styles */
/* line 549, ../sass/screen.scss */
.ui-datebox-header h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

/* line 550, ../sass/screen.scss */
.ui-datebox-controls {
  text-align: center;
}

/* line 551, ../sass/screen.scss */
.ui-datebox-controls div {
  width: 102px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 552, ../sass/screen.scss */
.ui-datebox-scontrols {
  text-align: center;
}

/* line 553, ../sass/screen.scss */
.ui-datebox-scontrols div {
  width: 55px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 554, ../sass/screen.scss */
.ui-datebox-scontrols .ui-datebox-sinput {
  width: 68px;
}

/* line 555, ../sass/screen.scss */
.ui-datebox-scontrols .ui-datebox-sinput input {
  width: 48px;
  text-align: center;
  margin-left: 3px;
}

/* line 556, ../sass/screen.scss */
.ui-datebox-input {
  width: 109px !important;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center !important;
  display: inline-block !important;
  zoom: 1;
  *display: inline;
}

/* Slide Mode Styles */
/* line 560, ../sass/screen.scss */
.ui-datebox-slide {
  width: 562px;
  margin-left: auto;
  margin-right: auto;
}

/* line 561, ../sass/screen.scss */
.ui-datebox-sliderow-d {
  margin-bottom: 5px;
  text-align: center;
  height: 40px;
  width: 562px;
  overflow: hidden;
}

/* line 562, ../sass/screen.scss */
.ui-datebox-sliderow-ym {
  margin-bottom: 5px;
  text-align: center;
  height: 32px;
  width: 562px;
  overflow: hidden;
}

/* line 563, ../sass/screen.scss */
.ui-datebox-sliderow-hi {
  text-align: center;
  height: 32px;
  width: 562px;
  overflow: hidden;
}

/* line 564, ../sass/screen.scss */
.ui-datebox-sliderow-int {
  display: inline-block;
  white-space: nowrap;
}

/* line 565, ../sass/screen.scss */
.ui-datebox-slideyear {
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 84px;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
}

/* line 566, ../sass/screen.scss */
.ui-datebox-slidemonth {
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 51px;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
}

/* line 567, ../sass/screen.scss */
.ui-datebox-slideday {
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 32px;
  vertical-align: middle;
  line-height: 20px;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
}

/* line 568, ../sass/screen.scss */
.ui-datebox-slidehour {
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 32px;
  vertical-align: middle;
  line-height: 22px;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
}

/* line 569, ../sass/screen.scss */
.ui-datebox-slidemins {
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 32px;
  vertical-align: middle;
  line-height: 22px;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
}

/* line 570, ../sass/screen.scss */
.ui-datebox-slidearrow {
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 10px;
  vertical-align: middle;
  line-height: 38px;
  height: 38px;
  font-size: 10px;
  font-weight: bold;
}

/* line 571, ../sass/screen.scss */
.ui-datebox-slidewday {
  font-size: 10px;
  font-weight: normal;
}

/* Flip Mode Styles */
/* line 575, ../sass/screen.scss */
.ui-datebox-flipcontent {
  text-align: center;
  height: 125px;
  margin-bottom: -40px;
}

/* line 576, ../sass/screen.scss */
.ui-datebox-flipcontent div {
  margin-left: 3px;
  margin-right: 3px;
  width: 77px;
  height: 120px;
  display: inline-block;
  text-align: center;
  zoom: 1;
  *display: inline;
  overflow: hidden;
}

/* line 577, ../sass/screen.scss */
.ui-datebox-flipcenter {
  border: 1px solid #eee;
  height: 40px;
  margin-left: 10px;
  width: 260px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: -45px;
}

/* line 578, ../sass/screen.scss */
.ui-datebox-flipcontent ul {
  list-style-type: none;
  display: inline;
}

/* line 579, ../sass/screen.scss */
.ui-datebox-flipcontent li {
  height: 30px;
}

/* line 580, ../sass/screen.scss */
.ui-datebox-flipcontent li span {
  margin-top: 7px;
  display: block;
}

/* Shared Styles */
/* line 584, ../sass/screen.scss */
.ui-datebox-container {
  border: 5px solid #111 !important;
  width: 562px;
}

/* line 585, ../sass/screen.scss */
.ui-datebox-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* line 586, ../sass/screen.scss */
.ui-datebox-screen-modal {
  background-color: black;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

/* line 587, ../sass/screen.scss */
.ui-datebox-hidden {
  display: none;
}

/* line 588, ../sass/screen.scss */
.ui-dialog .ui-datebox-container {
  border: none !important;
}

/* line 589, ../sass/screen.scss */
.ui-datebox-collapse a {
  display: inline-block;
  width: 45%;
}

/* line 591, ../sass/screen.scss */
.ui-datebox-inline {
  margin-top: 5px;
  border: 5px solid #111111 !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 592, ../sass/screen.scss */
.ui-datebox-inlineblind {
  margin-top: 5px;
  border: 5px solid #111111 !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
