/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass"; //checkthis
@import "compass/reset";
//@import "compass/css3/font-face";
//@import "compass/css3";//maybe this is enough?

@import "_variables.scss";



//FONTAGE:
@include font-face("Open Sans", font-files("fonts/opensans.woff", "fonts/opensans.ttf","fonts/opensans.svg"));
@include font-face("Trebuchet MS", font-files("fonts/trebuchet.ttf", "fonts/trebuchet.otf"));
@include font-face("Calibri", font-files("fonts/calibri.ttf", "fonts/calibri.otf"));
//add these one each for different weights
%myfont{font-family:"Open Sans", "Trebuchet MS", "Calibri", sans-serif;}
body{@extend %myfont; }
a:link{text-decoration:none;}
*:focus {
    outline: none;
}
h1{
  font-size:$font_size_h1;
  color:$font_color_h1;
  font-weight: $font_weight_light;
  padding:20px 0 20px 0;
  //text-shadow:none; display:block; font-style:normal;
}
h2{
  font-size:$font_size_h2;
  color:$font_color_h2;
  font-weight: $font_weight_light;
  margin-top:$padding_above_h2;
  //text-shadow:none; display:block; font-style:normal;
}
h3{
  font-size:$font_size_h3;
  color:$font_color_h3;
  font-weight: $font_weight_light;
  margin: $padding_between_label_and_input;
  //text-shadow:none; display:block; font-style:normal;
}
h4{  font-size:$font_size_h4;
  color:$font_color_h4;
  font-weight: $font_weight_heavy;
  margin: $space_around_h4;}
p{
  font-size:$font_size_p;
  color:$font_color_p;
  font-weight: $font_weight_light;
  //text-shadow:none; display:block; font-style:normal;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align:center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  outline: none;
  background:$background_color_main;

}



ul{list-style:none;}


//NESTING EXAMPLE:
// nav {
//   a{
//     color: $background_color_main;
//     &:hover {
//       color: darken($background_color_main, 10%);
//     }
//   }
// }









a.clientresult{display:block; margin:0 auto; clear: both; width:90%; height:50px;   border-bottom: $white_border; border-left: $white_border; border-right: $white_border; }
a.clientresult:first-of-type{border-top:$white_border; }

div.clientresult{display:block; margin:0 auto; clear: both; width:90%; height:50px;  }
div.clientresult:focus{background:$white;}

.resultblocks{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  display:inline-block;
  width:25%;
  height:50px;
  float:left;

  //border-top:none;
  text-align:left;
  //background:$resultblocks_background;
  font-size:$font_size_p;
}
.resultblocks.title{border-left:none; border-right:none; }
.resultblocks.title p{font-size:14px; color:$white;

  //background:$resultblocks_title_background;
}
.resulttext{display: table-cell; height: 50px; padding: 0 20px; vertical-align: middle; color:$font_color_standard;}
.phonenumberresult{ }
.lastnameresult{}
.firstnameresult{}

/*clientSearchView:*/
#feedback{
  color: $test_red;
  }

.client{
  text-transform: uppercase;
  }

/*from ResultsView.coffee put here to clean code:*/
table.results th.header, table.results td{
  font-size:150%;
}

/*from ScanBarcodeView:*/
#feedback{
  color: $test_red;
}

.client{
  text-transform: uppercase;
}
/*from ReportView:*/
.dissaggregatedResults{
  display: none;
}

/*from help:*/
.helpMessage{display:block}

.textArea{}
textarea:focus, input:focus{
  outline: none;
  -webkit-tap-highlight-color: $standard_border_focus_color;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-modify: read-write-plaintext-only;
}

textarea {height:100px; font-size:$font_size_text_area; color:$font_color_text_area; font-weight:$font_weight_light;
  padding:10px; margin-top:10px; margin-bottom:10px; width:80%; max-width:480px; resize: none;}

/*images on design form page that are icons:*/
.designIcons{}

#design-view{display:block;}

/*.ui-btn-inner.ui-btn-corner-all{background:red;}

label[type=checkbox]{background:red;}*/





//FORMS CSS:
.formHeader{display:block; width:100%; background:$form_header_color; padding:10px 0; border-top:$standard_border;}
/*buttons for yes/no*/
label{display:block; clear:both; width:$label_width; max-width:$label_max_width;
  text-align:left; margin:20px auto 18px auto;
  color:$font_color_label;
} //CHECK WHAT THIS IS< NOT SURE
/*questions specifically above the radio buttons:*/
label[type=radio]{margin-top:60px; } /*just thinking through tablet/phone sizes and readability, not sure if this css works*/
/*yes/no and optional choice selector buttons:*/
label.radio {
  border-radius:8px;
  display:block;
  padding:15px 0px;
  border: 1px solid $standard_border_color;
  cursor: pointer;
  text-decoration: none;
  margin:10px auto 5px auto;
  text-align:center;
  }
 input{

  margin-bottom:50px;
  border: solid 1px $standard_border_color;
  color:$font_color_input;  //control this color
  transition: box-shadow 0.3s, border 0.3s;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  padding: 10px;
  width:$input_width;
  max-width:$input_max_width;
  font-size:$font_size_input;
}
input:focus{ outline:none;
  border: solid 2px $standard_border_color;
  border: 2px solid $highlightBlue;
}

/*this just hides the little radio circle on the button/labels:*/
input[type=radio]{visibility:hidden;
  display:none;
}

/*selected state color change:*/
input[type=radio]:checked + label.radio {
  background:black;
  color:#ddd;
  /*background: #5393c5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#5393c5),to(#6facd5));
  background-image: -webkit-linear-gradient(#5393c5,#6facd5);
  background-image: -moz-linear-gradient(#5393c5,#6facd5);
  background-image: -ms-linear-gradient(#5393c5,#6facd5);
  background-image: -o-linear-gradient(#5393c5,#6facd5);
  background-image: linear-gradient(#5393c5,#6facd5);*/
  }


 input[type="autocomplete from list"], input[type="autocomplete from previous entries"], input[type="text"]{
  text-align:left;
}
input[type="autocomplete from list"]{margin-bottom:0px;}

input[type="text"]:focus, input[type="text"].focus, input[type="autocomplete from list"]:focus, input[type="autocomplete from list"].focus,
input[type="autocomplete from previous entries"]:focus, input[type="autocomplete from previous entries"].focus {
  /*border: solid 2px rgba(200,0,150,.9); box-shadow: 0 0 0px 0px #969696;*/
}

input[type=number]{ width:$number_input_width; font-size:20px; text-align:center; }


/*come back to this: how are numbers selected on tablet?*/
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor:pointer;
  display:block;
  width:25px;
  height:50px;
  text-align:center;
  position:relative;
  text-align:center;
  /*removing the up and down for now */
  -webkit-appearance: none;
  margin: 0;
}


//THIS JUST CONTROLS THE NUMBER UP/DOWN BUTTONS:
input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
  background:$extra_light_gray;
  background-image:url(../images/uparrow.png);
  background-size:100%;
  border:solid 1px $standard_border_color;
  //content: "^";
  content: "";
  position:absolute;
  right: -11px;
  //font-family:monospace;
  width:24px;
  //line-height: 40px;
  //font-size:32px; font-weight:lighter ;
  //color:$font_color_input;
  /*removing the up and down for now */
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button:before {
  top:2px;
  height:21px;
}
input[type=number]::-webkit-inner-spin-button:after {
  bottom:3px;
  height:22px;
  right:-11px;
  -webkit-transform: rotate(180deg);
}

input[type=textarea] {height:100px;}

/*BUTTONS:*/
input[type=submit], label[type=checkbox], input[type=button], button, button[type=button], a.buttonLinks {
  display:block;
  width:$button_width;
  height:$button_height;
  //background:$button_color;
  background:none;
  color:$button_text_color;
  cursor:pointer;
  border:$button_border;
  margin:$button_margin_top auto;
  border-radius:$button_border_radius;
  padding-top:15px; padding-bottom:20px;
  text-align:center;
  font-size:$button_font_size;
  font-weight: $font_weight_light !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

button, button[type=button] {padding-bottom:35px; padding-top:20px;   font-weight: $font_weight_light !important;}
input[type=submit] {padding-bottom:35px; font-weight: $font_weight_light !important; }

input[type=submit]>span, label[type=checkbox]>span{}

input[type=submit]:focus, label[type=checkbox]:focus, input[type=button]:focus, button:focus, a.buttonLinks:focus  {
  background:$button_color_focus;
  color:$button_focus_text_color;
  border:$button_border_focus;
  outline:0;
}

input[type=submit]:hover, label[type=checkbox]:hover, input[type=button]:hover, button:hover, a.buttonLinks:hover  {
  background:$button_color_focus;
  color:$button_focus_text_color;
  border:$button_border_hover;
}


a.buttonLinks.sideBySideButtons{display:inline-block; float:left; }














label[type=checkbox] span{
// make these centered
}

/*AUTOCOMPLETE LISTS: Make these less ridiculous, they should have real class names*/
ul.ui-listview{background:$autocomplete_background_color; list-style:none; width:$autocomplete_width;
  max-width:$autocomplete_max_width; display:block; margin:0 auto; padding:0px;}
li.ui-btn{border: $standard_border; }
/*li.ui-btn .ui-btn-inner.ui-btn-inner.ui-li.ui-corner-top {color:red;}*/
/*li.ui-btn>div>div a{color:red;}*/

/*.ui-btn-text a{
  display:block; color: $button_text_color;
  padding:15px 0 15px 0; margin:0px auto 0 auto; width:$autocomplete_width; }
  span.ui-icon{display:none;}*/

// span.ui-btn-inner.ui-btn-corner-all span.ui-btn-text{display:none;}

.message{
  // color: grey;
  // font-weight: bold;
  padding: 10px;
  border: 1px $message_yellow dotted;
  background: $message_yellow;
  display: none;
}


/*for example the message that says Saving . .  . over the form after an answer is submitted*/
.hoveringMessage{position:fixed; top:0px; color:$font_color_saving_message; background: $saving_message_background;
  padding:25px 0px; display:none; z-index:$z_middle; width:100%; margin-top:0px;}




.designControls{display:block; background:$light_gray; width:100%; height:200px;}

.aQuestion{display:block; width:100%; height:auto; margin:50px 0 0 0;}
.questionInfo{display:block; height:30px; margin:0px auto; width:700px; text-align:left; background:$light_gray;}
.questionType{display:inline-block; width:auto; font-size:13px; margin:10px 25px 0 10px;  }
.requiredOrNot{display:inline-block; width:50px; font-size:13px; color:$font_color_standard; text-align:left; margin:10px 0 0 0;}
input.requiredOrNot{width:20px; height:5px; margin-top:10px;vertical-align: top;}
.deleting{display:inline-block; float:right; width:90px; margin:10px 10px 0 0;}
label.deleteButton{font-size:13px; float:left; display:inline; margin:0px; width:60px; height:60px;}
button.deleteButton{display:inline;  width:20px; height:20px; float:left; margin:0px; padding:0px; margin-top:-5px; font-size:15px;}
button.deleteButton img{height:10px; width:10px; margin-top:0px;}
label.questionText{ /*display:block;*/ margin:0 auto; max-width:700px;}
input.designFormTextInput{width:700px; max-width:700px; margin-bottom:0px; margin-top:5px;}

.advancedOptions{width:700px; height:auto; background:$light_gray; margin:0 auto; padding:10px 0 35px 0;}
.advanced{ font-size:13px; color:$font_color_standard; }
.advanced-hidden{display:none;}
.advanced-visible{display:block;}

label.advanced{max-width:600px; width:600px; display:block; margin:0px auto; padding:15px 0px 5px 0px;}
textarea.advanced{height:20px; width:600px; display:block; margin:0 auto; padding:0px;}




button.designActionsButton{display:inline-block; width:150px; height:30px; border-radius:$button_border_radius;
  background:$button_color; color:$button_text_color;
  border:$button_border; font-size:14px; margin:10px 5px;}
button.designActionsButton.addButton{margin-bottom:50px; }

select{font-size:20px; padding:30px; background:white; border:solid 1px #666; width:300px;}

select:focus{outline:none;}




form#render{display:block; background:white; z-index:100; padding:50px 0 50px 0;  margin:0 auto; width:800px  ;}

.instructions{width:500px; margin:15px auto;}







.disabled_skipped
{
  display: none;
}

.question
{
  margin-bottom: 1em;
  padding-bottom: 2em;
  border-top: 1px dotted $standard_border_color;
  padding-top: 2em;
}
.question:first-of-type{border-top:none; margin-top:60px;}



/*.question.label
{
  border-bottom: 0;
  padding-top: 1em;
  font-weight: bold;
}*/

.question.checkbox
{
  border-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.question.group
{
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
  margin-top:  !important;

}



a#startTheVisit.buttonLinks{margin-top:-110px; }












// #content{display:inline-block; float:left;}


//MAIN NAVIGATION
// #footer-menu{
//   display:block; width:100%; height:40px; background:$footer_color; padding-bottom:0px;  //there may be more styling in the html somewhere, check
//   text-align:left;overflow:hidden; padding-top:5px;
// }
// #footer-menu span{display:block; width:auto; height:auto; margin-right:20px; vertical-align:middle;
//   font-size:12px;color:$font_color_footer; }

// #footer-menu span.brand{font-size:16px; float:left;}
// #footer-menu span.tinyfont, #footer-menu span.tinyfont span{font-size:7px;}

button.menuburger{
  background-color:$light_gray; background-image: url(../images/burger.png); background-size: 30px 30px;
  background-repeat: no-repeat; display:block; position:absolute; left:5px; top:5px; z-index:100;
  width:30px; height:30px; padding:0px; margin:0px 10px 0 5px; border:none;}
button.menuburger.menuisopen{  background-image: url(../images/burger_focus.png);border:none;}
button.menuback{
  background-color:$light_gray; background-image: url(../images/back.png); background-size: 30px 30px;
  background-repeat: no-repeat; display:block; position:absolute; left:5px; top:5px; z-index:300;
  width:30px; height:30px; padding:0px; margin:0px 10px 0 5px; border:none; }
button.endTheVisit{
  background-color:rgba(0,0,0,0);
  background-image: url(../images/profile_gray.png); background-size: 70px 70px;
  background-repeat: no-repeat; display:block; position:fixed; left:5px; top:5px; z-index:300;
  width:70px; height:70px; padding:0px; margin:0px 10px 0 5px; border:none; }
button.endTheVisit:focus{
  background-color:rgba(0,0,0,0);background-image: url(../images/profile_white.png);}


.profileIconDiv{background-image: url(../images/profile_gray.png); background-size: 100px 100px;
  background-repeat: no-repeat; display:block; position:absolute; left:55px; top:5px; z-index:300;
  width:100px; height:100px; padding:0px; margin:0px 10px 0 5px;  }

button.menuback.menuisopen{  background-image: url(../images/back_focus.png);border:none;}
button.menuburger:focus, button.menuburger:active, button.menuback:focus, button.menuback:active{border:none;}

#round-button {
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    color:#ccc;
    text-align:center;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:lighter;
    position:fixed;
    z-index:1000;
    bottom:15px;
    right:15px;
     -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
}
#round-button:hover {
    background: white;
}







nav{color:$font_color_main_menu;
  background:$menu_background_color;
// background-image: url(../images/clouds.jpg);
// background-size:100% auto;
// background-repeat: no-repeat;
  width:100%; height:280px; }//border-bottom:$menu_elements_border_right; }
nav.main-nav>a, nav.main-nav>span{box-sizing:border-box; display:block; width:inherit; height:35px;
  border-top:$menu_elements_border_right; color:$main_menu_border_color;
  padding:20px 0 35px 0; font-size:$font_size_main_menu;}


.menuitem.admin{float:left; text-align:center; border-left:1px solid $li_gray;  width:32%; width: calc(100%/ 3);
  box-sizing:border-box; height:35px;  padding:20px 0 35px 0;}
.menuitem.admin:first-child{border-left:none;}
.menuitem.admin span{display:inline-block; text-decoration:none;}


// nav.main-nav a span{display:block;
//   width:inherit;
//   margin:auto; color:$main_menu_border_color; margin-top:15px; font-size:$font_size_main_menu;}
// nav.main-nav a:last-child {
//     border-right:none;
// }

nav.main-nav.open{display:block;}
nav.main-nav.closed{display:none;}

.clientmenu{width:100%; height:100%; background-color:$transparent_white; z-index:2000; position:fixed; top:0px; left:0px;
  }
.clientmenu.visible{display:block;}
.clientmenu.hidden{display:none;}



nav.submenu{display:block; width:100%; height:40px;}

nav.submenu a{
      display:inline-block; height:40px; width:auto; background-color:$light_gray;
      line-height: 40px; font-size:$font_size_sub_menu; padding:0 10px;}
nav.submenu a.selected{background-color:$extra_light_gray;}

nav.visitOptions{display:block; width:100%; height:90px; position:fixed; top:0px; left:0px;}
nav.visitOptions.tiny{top:-30px; margin-top:-20px;}
nav.visitOptions ul{display:block; width:100%; position:absolute; left:0px;}
nav.visitOptions ul li{display:inline-block; height:90px; width:18%; background-color:$light_gray;
    box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
      padding:0; margin:0px; float:left; text-align:center; border-left:1px solid $li_gray;  width:18%; width: calc(100%/6);
  box-sizing:border-box; }
nav.visitOptions ul li:first-child{border-left:none;}

nav.visitOptions ul li.selected{background-color:$extra_light_gray;}
img.visitOptionsIcons{  min-width:50px; max-width:70px; height:auto;}
li.questionSetName {margin:0px;  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;}

// .aa-header{
//   display:block;
//   height:70px; length:100%; background:$header_color; /*this is new and conditional*/
//   padding:0px;
//   border-top:$standard_border;
// }

.header{
  display:block;
  height:70px; length:100%; background:$header_color; /*this is new and conditional*/
  padding:0px;
  border-top:$standard_border;
}

.aSection{display:block; width:100%; height:auto; min-height:100px; text-align:center; }

// .aa-header.shrunkheader{height:20px; overflow:hidden;}

// this is when you sync and get messaging
// #log{position:fixed; right:0px; color:$font_color_saving_message; background: $saving_message_background;
//   padding:25px 0px; display:none; z-index:$z_middle; width:100%; height:300px; overflow:hidden;}

.mini-dashboard{display:block; background:$background_color_section; width:100%; height:70px;
  padding:15px; z-index:200;}
.mini-dashboard.fixed{position:fixed; top:0px;}






button.fullwidthdropdown{width:100%; height:50px; border-radius:0px; border:none; }




form.hideText{font-size:0;display:block;line-height:0;}




table{display:block; font-size:$font_size_small; line-height:30px; margin:0 auto; margin-left:auto; margin-right:auto; }
table thead, table tr:nth-child(even) {
    // background-color: $light_gray;

}
// table thead, table tr{border-bottom:1px solid $light_gray; border-top:none;}
table tr{border-bottom:1px solid $light_gray; border-top:none;}
table thead {border-bottom:none;}


table.lastVisitResults{width:90%; font-size:$font_size_small;}


table.patientInfo{width:300px; margin-top:40px; }
table.patientInfo tr td{ padding: 0px 20px;}


table.patientInfo thead th.noteorhint{color:#aaa; text-align:center; font-weight:lighter;}
// table.lastVisitResults tr:nth-child(even) {
//     background-color: $light_gray;
// }


.visitTitle{ }
.clientTitle{}




 .regVisit-vitalsSection{display:block;}
 .regVisit-complaintSection{display:block;}
 .regVisit-labsSection{display:block;}
 .regVisit-diagnosisSection{display:block;}
 .regVisit-endVisitSection{display:block;}

.hiddenSections{display:none;}


















//things i may want from jquery mobile:
/* loading icon */
// .ui-icon-loading {
//   background: url(../images/ajax-loader.gif);
//   background-size: 46px 46px;
// }
/* loading screen */
// .ui-loading .ui-loader { display: block; }
// .ui-loader { display: none; z-index: 9999999; position: fixed; top: 50%; box-shadow: 0 1px 1px -1px #fff; left: 50%; border:0; }
// .ui-loader-default { background: none; opacity: .18; width: 46px; height: 46px; margin-left: -23px; margin-top: -23px; }
// .ui-loader-verbose { width: 200px; opacity: .88; height: auto; margin-left: -110px; margin-top: -43px; padding: 10px; }
// .ui-loader-default h1 { font-size: 0; width: 0; height: 0; overflow: hidden; }
// .ui-loader-verbose h1 { font-size: 16px; margin: 0; text-align: center; }
// .ui-loader .ui-icon { background-color: #000; display: block; margin: 0; width: 44px; height: 44px; padding: 1px; -webkit-border-radius: 36px; -moz-border-radius: 36px; border-radius: 36px; }
// .ui-loader-verbose .ui-icon { margin: 0 auto 10px; opacity: .75; }
// .ui-loader-textonly { padding: 15px; margin-left: -115px;  }
// .ui-loader-textonly .ui-icon { display: none; }
// .ui-loader-fakefix { position: absolute; }
















































input[type=checkbox].largecheckbox {
              position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
            }

            input[type=checkbox].largecheckbox + label.checkboxLabel {
              padding-left:45px;
              height:28px;
              display:inline-block;
              line-height:28px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:18px;
              font-weight:lighter;
              vertical-align:middle;
              cursor:pointer;
              margin-bottom:30px;

            }

            input[type=checkbox].largecheckbox + label.checkboxLabel span{font-size:11px;}

            input[type=checkbox].largecheckbox:checked + label.checkboxLabel {
              background-position: 0 -28px;
               font-size:21px;
               font-weight:bold;
            }

            input[type=checkbox].largecheckbox + label.checkboxLabel input.labresultsbox,  input[type=checkbox].largecheckbox + label.checkboxLabel select.labresultsbox{
              display: none;
             }
            input[type=checkbox].largecheckbox:checked + label.checkboxLabel input.labresultsbox {
              width:200px;
              height:40px;
              display:inline;
              margin-left: 40px;
              float:right;
            }
            input[type=checkbox].largecheckbox:checked + label.checkboxLabel select.labresultsbox {
              width:200px;
              height:40px;
              display:inline;
              margin-left: 40px;
              float:right;
            }
            label.checkboxLabel {
        background-image:url('../images/bigcheckboxsprite.png');
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }



// TRYING TO STYLE SOME OF THE PLACEHOLDER TEXT IN THE INPUTS
::-webkit-input-placeholder {
   font-style:italic; font-size:13px; font-weight:lighter; color: #bbb;}
:-moz-placeholder { /* Firefox 18- */
  font-style:italic; font-size:13px; font-weight:lighter; color: #bbb; opacity:1;}
::-moz-placeholder {  /* Firefox 19+ */
   font-style:italic; font-size:13px; font-weight:lighter; color: #bbb; opacity:1;}
:-ms-input-placeholder {
   font-style:italic; font-size:13px; font-weight:lighter; color: #bbb;}















/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.4.2
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2015 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  text-align:left;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
/*  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);*/
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('../images/chosen-sprite.png') no-repeat 100% -20px;
  background: url('../images/chosen-sprite.png') no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: $highlightBlue;
/* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);*/
      border: 2px solid $highlightBlue;

  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  min-height:40px;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
 /*  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%); */
  cursor: text;
}
.chosen-container-multi .chosen-choices:focus {
    border: 2px solid $highlightBlue;

}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
/* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);*/
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;

  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
/*  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);*/
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: $highlightBlue;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  //box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 2px solid $highlightBlue;


}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
/*  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;*/
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
 // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 2px solid $highlightBlue;
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('../images/chosen-sprite.png') no-repeat -30px -20px;
  background: url('../images/chosen-sprite.png') no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('../images/chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */





